<div class="body-content-container">
    <div ng-if="projectFound == true">
        <div class="alert alert-info">Visit the source of this project <strong><a target="_blank" href="{{project.repoUrl}}">here</a></strong>.</div>
        <div class="readme-content" data-project-id="{{projectId}}" data-render-project-readme>
            <h4 class="text-center"><span class="glyphicon glyphicon-hourglass"></span> Loading...</h4>
        </div>
    </div>
    <div ng-if="projectFound == false">
        <div class="project-error">
            <h1><span class="glyphicon glyphicon-alert"></span>&nbsp;404 Project not found!</h1>
            <div class="project-error-solution">Please visit the <a href="/#/projects">projects</a> page to see the available projects. <span class="project-error-solution-or">OR</span></div>
            <div class="project-error-solution">You might have found a broken link. Please try refreshing the page. If the issue persists then visit the <a href="/#/support">support</a> page and file a report.</div>
        </div>
    </div>
</div>