<div class="body-content-container projects">
    <h1>Projects</h1>
    <div class="row row-eq-height" ng-repeat="projectsList in slicedProjects" data-done>
        <div class="col-sm-{{12 / chunkSize}} project-description project-{{ ($parent.$index % 2 == 0) ? 'evenrow' : 'oddrow' }}-{{ ($index % 2 == 0) ? 'evencol' : 'oddcol' }}" ng-repeat="project in projectsList" data-done>
            <h3><span ng-if="project.mainLanguageType" class="{{ project.mainLanguageType }}" data-render-icon-tooltip></span> <a href="/#/projects/{{project.id}}">{{project.title}}</a></h3>
            <p data-project-id="{{project.id}}" data-render-project-description></p>
            <p>
                <strong>Tech: </strong>
                <span ng-repeat="iconTag in project.iconTags"><span class="{{ iconTag }}" data-render-icon-tooltip></span> </span>
                <span ng-repeat="tag in project.tags"><span class="label label-default">{{ tag }}</span> </span>
            </p>
            <p>
                <a href="/#/projects/{{project.id}}">Read more</a> or <a target="_blank" href="{{project.repoUrl}}">go to source <i class="fa fa-github" area-hidden="true" data-render-icon-tooltip></i></a>
            </p>
        <div ng-repeat="project in projectsList" data-done>
    </div>
</div>