body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    max-width: 66em;
    min-width: 16em;
    margin: 0 auto;
    display: block;
}

.content-container {
    margin: 0 0.5em;
}

.body-content-container {
    margin: 0.5em 0.5em;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0;
}

.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

a, a:hover, a:active, a:visited, a:focus {
    color: #23527c;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/* header */
.header-container {
    width: 100%;
    display: inline-block;
}

.header-container .navbar {
    margin-bottom: 0;
}

a.navbar-brand {
    text-transform: none;
}

.navbar-brand img {
    display: inline-block;
    padding-right: 7px;
    margin-top: -4px;
}

/* footer */
.footer-hr {
    color: #F0F0F0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.footer-container {
    text-align: center;
}

.footer-text {
    font-size: 0.75em;
    color: #666666;
}

/* error header */

.error-item-list {
    margin: 0;
}

.error-item-list li {
    margin-top: 0.5em;
}

.error-title {
    display: block;
    width: auto;
    font-size: 1em;
}

/* home */

.home-container {
    padding: 2em 1em;
    text-align: center;
}

.home-title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.welcome-code pre {
    display: inline-block;
    overflow-x: auto;
    max-width: 100%;
    background-color: white;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    text-align: left;
    word-break: normal;
    word-wrap: normal;
}

.welcome-code pre code {
    white-space: inherit;
    font-size: 0.90em;
}

/*
#99B2B7 //dark blue
#948C75 //dark green
*/

/* projects */
@media (min-width: 768px) {
    .project-description {
        min-height: 210px;
    }

    .project-evenrow-evencol, .project-oddrow-oddcol {
        background-color: #DDDFFF;
    }

    .project-oddrow-evencol, .project-evenrow-oddcol {
        background-color: #FFFEEE;
    }
}

@media (max-width: 768px) {
    .project-description {
        padding-top: 5px;
        padding-bottom: 25px;
    }

    .project-evenrow-evencol, .project-oddrow-evencol {
        background-color: #DDDFFF;
    }

    .project-oddrow-oddcol, .project-evenrow-oddcol {
        background-color: #FFFEEE;
    }
}

.project-tag {
    display: inline-block;
    margin-right: 0.25em;
}

/* project */

.project-visit-source {
    display: block;
    width: auto;
    font-size: 1em;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    margin: 0.5em 0;
    padding: 0.5em 0.5em;
    background-color: #D1E3D1;
}

.project-error {
    display: block;
    width: auto;
    text-align: center;
}

.project-error-solution-or {
    font-weight: bold;
}

.project-error-solution {
    display: block;
    width: auto;
}

/* 404 not found page*/
.not-found-container {
    text-align: center;
}

/* README */
.readme-content pre {
    max-width: 100%;
    overflow: auto;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    word-break: normal;
    word-wrap: normal;
}

.readme-content pre code {
    white-space: inherit;
}

.readme-content h1, .readme-content h2, .readme-content h3, .readme-content h4 {
    word-wrap: break-word;
}